# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock file
.terraform.lock.hcl

# Private keys
*.pem
*.key
